*{
    padding: 0;
    margin: 0;
}
#navbar1 {
    height: 50px;
    background-color:#c06492;
}
button{
    display: inline-block;
    background-color: #c06492;
    color: aliceblue;
    height: 50px;
    width: 100px;
}
body{
    background-color: aliceblue;

}
a{
    margin-right: 50px;
}
#logo{
    color: white;
    font-size: 30px;
 }
 .photo{
    background-image:url("coder.jpg");
    background-size: cover;
    width: 40%;
    height:250px;
    margin-left: 700px;
    
 }
 .inline{
    display: inline-block;
 }
